POSTGRES_DB=payments
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=payments
DATABASE_USER=payments
DATABASE_PASSWORD=payments
REDIS_HOST=redis
REDIS_PORT=6379
BACKEND_PORT=3000
FRONTEND_PORT=8080
VITE_API_URL=/api
